<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>Login realizado com sucesso || Login success</title>
<link rel="stylesheet" type="text/css" href="stylesheets/style.css" />
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script>
	$(function() {
		$("#tabs").tabs({
			collapsible : false
		});
	});
</script>
</head>
<body>
	<div class="loginbox">
		<div id="tabs">
			<ul>
				<li><a href="#portuguese">Português</a></li>
				<li><a href="#english">English</a></li>
			</ul>
			<div id="portuguese">
				<br/>
				<p>
					<b>Login realizado com sucesso.</b>
				</p>
				<b>Token de acesso:
					<p th:text="${token}" />
				</b>
				<p>
					Use este token como o parâmetro <b>token</b> em cada requisição à
					API.
				</p>
				<p>
					<b>Nota:</b> Não compartilhe este token com outros, pois ele
					representa os acessos realizados à API pelo seu usuário. Este token
					é válido por <b>7 dias.</b>
				</p>
				<p>Depois deste período, você deve se identificar novamente para
					receber um novo token.</p>
			</div>
			<div id="english">
				<br/>
				<p>
					<b>Login success.</b>
				</p>
				<b>Access token:
					<p th:text="${token}" />
				</b>
				<p>
					Use this token as the <b>token</b> parameter in every API request.
				</p>
				<p>
					<b>Note:</b> Do not share this token with others, as it represents
					the accesses your user makes to the API. This token is valid for <b>7
						days.</b>
				</p>
				<p>After that period, you should login once again in order to
					fetch a new token.</p>
			</div>
		</div>
	</div>
</body>
</html>