<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>SiBBr API - User password change</title>
<link rel="stylesheet" type="text/css" href="stylesheets/style.css" />
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script>
	$(function() {
		$("#tabs").tabs({
			collapsible : false
		});
	});
</script>
</head>
<body>
	<div class="loginbox">
		<div th:if="${error != null}" th:text="'Error: ' + ${error}"></div>
		<div th:if="${success != null}" th:text="${success}"></div>
		<div th:if="${success == null}">
			<div id="tabs">
				<ul>
					<li><a href="#portuguese">Português</a></li>
					<li><a href="#english">English</a></li>
				</ul>
				<div id="portuguese">
					<br/>
					<p>Por favor, forneça a nova senha para a conta:</p>
				</div>
				<div id="english">
					<br/>
					<p>Please, Provide the new password to the account:</p>
				</div>
			</div>
			<form th:action="@{/alterarSenha}" method="post">
				<div class="fieldcenter">
					<p>
						<label><b>Valid token:</b> <input type="text" name="token" /></label>
					</p>
					<p>
						<label> <b>New password:</b> <input type="password"
							name="password" /></label>
					</p>
					<p>
						<label> <b>Repeat password:</b> <input type="password"
							name="passwordCheck" />
						</label>
					</p>
					<p>
						<input type="submit" value="Ok" />
					</p>
				</div>
			</form>
		</div>
	</div>
</body>
</html>