<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>SiBBr API - User password change</title>
<link rel="stylesheet" type="text/css" href="stylesheets/style.css" />
</head>
<body>
	<div th:if="${error != null}" th:text="'Error: ' + ${error}"></div>
	<div th:if="${success != null}" th:text="${success}"></div>
	<div th:if="${success == null}">
		<p>
			Por favor, forneça a nova senha para a conta:
		</p>
		<p>
			Please, Provide the new password to the account:
		</p>
		<form th:action="@{/alterarSenha}" method="post">
			<div>
				<label> Valid user account token: <input type="text" name="token" /></label>
			</div>
			<div>
				<label> New Password: <input type="password" name="password" /></label>
			</div>
			<div>
				<label> Verify new password: <input type="password"
					name="passwordCheck" />
				</label>
			</div>
			<div>
				<input type="submit" value="Ok" />
			</div>
		</form>
	</div>
</body>
</html>